# Language
export LC_ALL=en_US.UTF+8
export LANG=en_US.UTF+8

# Editors
export EDITOR='vim'
export VISUAL='vim'
export PAGER='less'

# XDG settings
export XDG_DATA_HOME="$HOME/.local/share"
export XDG_CONFIG_HOME="$HOME/.config"
export XDG_CACHE_HOME="$HOME/.cache"

# NVM settings
export NVM_DIR="$XDG_CONFIG_HOME/nvm"

# Golang settings
export GOPATH="$HOME/go"

# JAVA settings
if [ $(uname) = "Darwin" ]; then
	export JAVA_HOME='/Library/Java/JavaVirtualMachines/adoptopenjdk-8.jdk/Contents/Home'
else
	export JAVA_HOME='/usr/lib/jvm/java-1.11.0-openjdk-amd64'
fi

# Less settings
# Set the default Less options.
# Mouse-wheel scrolling has been disabled by -X (disable screen clearing).
# Remove -X and -F (exit if the content fits on one screen) to enable it.
export LESS='-F -g -i -M -R -S -w -X -z-4'

# PDF tool
if [ $(uname) = "Darwin" ]; then
	export PKG_CONFIG_PATH="/usr/local/lib/pkgconfig:/usr/local/Cellar/libffi/3.3/lib/pkgconfig"
fi

# Compilation Flags
export ARCHFLAGS="-arch x86_64"
