# top-level hidden directories
/.bash_history
/.cache
/.cargo
/.dbus
/.gnupg
/.grip
/.local
/.mozilla
/.npm
/.pki
/.pylint.d
/.rbenv
/.rustup
/.ssh
/.texlive*
/.vim
/.vim_rumtime
/.vscode
/.yarn

# top-level hidden files
/.esd_auth
/.fasd
/.fonts.conf
/.lesshst
/.python_history
/.vim*
/.viminfo
/.Xauthority
/.Xresources
/.xsession-errors
/.xsettingsd
/.zcompdump
# includes .zlogin .zlogout .zpreztorc .zprofile .zshenv .zshrc
# all are symlink created during first time running setup.sh
/.z*
!/.zfunc
/.zhistory

# top-level directories
/Desktop
/Documents
/Music
/Public
/Downloads
/Pictures
/snap
/temp
/Templates
/texmf
/work
/org
/go
## MacOS
/Appplications
/Library
/Movies
/Box
/llvm
## Linux
/Videos
/QubesIncoming
