/Code/*
!/Code/User/
/Code/User/*/
/configstore
/dconf
/direnv
/enchant
/Ganache
/gatsby
/google-chrome
/gconf
/gedit
/gtk*
/ibus
/keepassxc
/menus
/nautilus
/nvm
/procps
/pulse
/Slack
/QtProject*
/texstudio
/Thunar
/truffle
/Unknown Organization
/vlc
/xfce4

/mimeapps.list
/user-dirs*
/zoomus.conf
